*{
    margin: 0;
    padding: 0;
    
}

main{
    max-width: 1600px;
    margin: 0px auto;
}
body {
    background: #111212;
    color:white;
}

.bold{
    font-weight: bold;
}

.imgCover{
    object-fit: cover;
}